{% extends 'base.html' %}
{% load static %}
{% block title %}System Overview{% endblock %}

{% block css %}{% endblock %}

{% block breadcrumb %}System Overview{% endblock %}
{% block breadcrumb-2 %}System Overview{% endblock %}

{% block content %}
<h3>{{ request.session.user_name }}, Welcome Back to QuantIntelligence！</h3>

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ stg_num }}</h3>
            <p>Strategy Number</p>
          </div>
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ stg_num }}</h3>
            <p>Data Number</p>
          </div>
          <div class="icon">
            <i class="fas fa-database"></i>
          </div>
        </div>
      </div>
</div>
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-primary">
          <div class="inner">
            <h3>{{ stg_num }}</h3>
            <p>Running BackTesting Tasks</p>
          </div>
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ stg_num }}</h3>
            <p>Finished BackTesting Tasks</p>
          </div>
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
        </div>
      </div>
</div>
{% endblock %}


{% block script %}
{% endblock %}